<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Archetype Created Web Application</display-name>

	<!-- struts的过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
		<!-- 过滤器相关配置 ======== 字符编码过滤======== -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class> org.springframework.web.filter.CharacterEncodingFilter  </filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<!-- 指定由spring初始化加载xml配置文件 spring与struts结合必备 -->
	<listener>
		<listener-class>
			<!-- 默认寻找xml路径:WEB-INF/applicationContext.xml -->
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!--整个应用的参数 服务启动时读取. 可指定spring初始化文件路径位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value> classpath*:applicationContext.xml</param-value>
	</context-param>

</web-app>
